body{
    margin: 0;
    background-color: #BAD5BC;
}
a{
    color:black;
    /*text-decoration: underline;*/
}
h1{
    background-color: #D3E9D5;
    font-size: 45px;
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 0;
    padding: 20px;
}
#grid ol{
    background-color: honeydew;
    border-right: 1px solid gray;
    width: 100px;
    margin:0;
    padding:20px;
    padding-left: 30px;
}
h2{
    padding: 20px;
    margin: 0;
}
#grid{
    display: grid;
    grid-template-columns: 150px 1fr;
}
#article{
    padding-left: 25px;
}
@media(max-width: 800px){ /*screen width < 800px*/
    #grid{
    display: block;
    }
    #grid ol{
    border-right: none;
    }
    h1 {
        border-bottom: none;
    }
}
